<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="timeline-entry" th:fragment="entryFollowing">
    <ul class="mdl-list timelines-entry-wrapper" style="margin-top: 6px; margin-bottom: 6px">

        <li th:each="follower : ${listFollowing}" class="mdl-list__item" style="padding: 0px 10px 0px 20px">

            <span class="mdl-list__item-primary-content">
                 <a th:href="@{|/users/${follower.username}|}">
                       <i class="material-icons mdl-list__item-avatar">person</i>
                 </a>
                 <a th:href="@{|/users/${follower.username}|}" class="timeline-entry-username" th:text="${follower.username}">John Doe</a>
            </span>

            <form th:if="${!follower.following}" action="#" th:action="@{|/follow/${follower.username}/${user.username}/following|}" th:method="get">
                <button th:attrappend="disabled=${currentUser.username == follower.username}" type="submit" value="Submit" class="follow-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                    Follow
                </button>
            </form>
            <form th:if="${follower.following}" action="#" th:action="@{|/unfollow/${follower.username}/${user.username}/following|}" th:method="get">
                <button th:attrappend="disabled=${currentUser.username == follower.username}" type="submit" value="Submit" class="unfollow-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="color:#f44336;">
                    Unfollow
                </button>
            </form>
        </li>
    </ul>
</div>

<div class="timeline-entry" th:fragment="entryFollower">
    <ul class="mdl-list timelines-entry-wrapper" style="margin-top: 6px; margin-bottom: 6px">

        <li th:each="follower : ${listFollower}" class="mdl-list__item" style="padding: 0px 10px 0px 20px">

            <span class="mdl-list__item-primary-content">
                <a th:href="@{|/users/${follower.username}|}">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                </a>
                <a th:href="@{|/users/${follower.username}|}" class="timeline-entry-username" th:text="${follower.username}">John Doe</a>
            </span>

            <form th:if="${!follower.following}" action="#" th:action="@{|/follow/${follower.username}/${user.username}/follower|}" th:method="get">
                <button th:attrappend="disabled=${currentUser.username == follower.username}" type="submit" value="Submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                    Follow
                </button>
            </form>
            <form th:if="${follower.following}" action="#" th:action="@{|/unfollow/${follower.username}/${user.username}/follower|}" th:method="get">
                <button th:attrappend="disabled=${currentUser.username == follower.username}" type="submit" value="Submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" style="color:#f44336;">
                    Unfollow
                </button>
            </form>
        </li>
    </ul>
</div>

</html>
