<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="profile-card mdl-card mdl-shadow--2dp" th:fragment="card">
    <div id="profile-header" class="mdl-card__title">
        <h2 id="profile-name" class="mdl-card__title-text" th:text="${user.username}"></h2>
    </div>

    <div class="mdl-card__supporting-text">
        <a th:href="@{|/users/${user.username}/following|}" class="mdl-badge" th:attr="data-badge=${followingCnt}">Following</a>
        <a th:href="@{|/users/${user.username}/follower|}" class="mdl-badge" th:attr="data-badge=${followerCnt}">Follower</a>
    </div>

    <div class="mdl-card__actions" th:if="${!isSelf}">
        <a th:if="${!isFollowing}" th:href="@{|/follow/${user.username}|}" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="width: 100%;">
            Follow
        </a>
        <a th:if="${isFollowing}" th:href="@{|/unfollow/${user.username}|}" class="warn mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" style="width: 100%;">
            Unfollow
        </a>
    </div>
</div>

</html>
