<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="mdl-card mdl-shadow--2dp timeline-card" th:fragment="timeline">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#global" th:attr="class=${classTabGlobal}">Global Timeline</a>
            <a href="#private" th:attr="class=${classTabPrivate}">Private Timeline</a>
        </div>

        <div th:attr="class=${classPanelGlobal}" id="global">
            <div th:replace="components/timeline :: entryGlobal">...</div>

            <div class="paginationNavigation">
                <div th:value="${nextPageGlobalNo}" style="display:none" value="1">0</div>
                <a th:attr="style=${displayPrevGlobal}" th:href="@{|/global/previous/${nextPageGlobalNo}|}"> &lt; previous</a>
                &nbsp;
                <a th:attr="style=${displayNextGlobal}" th:href="@{|/global/${nextPageGlobalNo}|}"> next &gt;</a>
            </div>

        </div>

        <div th:attr="class=${classPanelPrivate}" id="private">
            <div th:replace="components/timeline :: entryPrivate">...</div>

            <div class="paginationNavigation">
                <div th:value="${nextPagePrivateNo}" style="display:none" value="1">0</div>
                <a th:attr="style=${displayPrevPrivate}" th:href="@{|/private/previous/${nextPagePrivateNo}|}"> &lt; previous</a>
                &nbsp;
                <a th:attr="style=${displayNextPrivate}" th:href="@{|/private/${nextPagePrivateNo}|}"> next &gt;</a>
            </div>
        </div>
    </div>
</div>

<div class="mdl-card mdl-shadow--2dp timeline-card" th:fragment="timelineUser">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

        <div class="mdl-tabs__tab-bar">
            <a href="#" class="mdl-tabs__tab is-active">Timeline</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="userTimeline">
            <div th:replace="components/timeline :: entryUser">...</div>

            <div class="paginationNavigation">
                <div th:value="${nextPageNo}" style="display:none" value="1">0</div>
                <a th:attr="style=${displayPrev}" th:href="@{|/users/${user.username}/previous/${nextPageNo}|}"> &lt; previous</a>
                &nbsp;
                <a th:attr="style=${displayNext}" th:href="@{|/users/${user.username}/${nextPageNo}|}"> next &gt;</a>
            </div>

        </div>

    </div>
</div>

<div class="timeline-entry" th:fragment="entryGlobal">
    <ul id="global-timeline" class="mdl-list timeline-entry-wrapper">
        <li th:each="post : ${PostListGlobal}" class="mdl-list__item mdl-list__item--two-line"
            style="padding-right: 10px;">
            <span class="mdl-list__item-primary-content">
                <a th:href="@{|/users/${post.user}|}">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                </a>
                <a th:href="@{|/users/${post.user}|}" class="timeline-entry-username"
                   th:text="${post.user}">John Doe</a>
                <span class="mdl-list__item-sub-title message" th:text="${post.message}">
                      MyPost
                </span>
            </span>
            <span class="mdl-list__item-secondary-content timeline-entry-date-container">
              <span class="mdl-list__item-secondary-info timeline-entry-date"
                    th:text="${post.timestamp}">25.10.2016 16:35</span>
            </span>
        </li>
    </ul>
</div>

<div class="timeline-entry" th:fragment="entryPrivate">
    <ul id="private-timeline" class="mdl-list timeline-entry-wrapper">
        <li th:each="post : ${PostListPrivate}" class="mdl-list__item mdl-list__item--two-line"
            style="padding-right: 10px;">
            <span class="mdl-list__item-primary-content">
                <a th:href="@{|/users/${post.user}|}">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                </a>
                <a th:href="@{|/users/${post.user}|}" class="timeline-entry-username"
                   th:text="${post.user}">John Doe</a>
                <span class="mdl-list__item-sub-title message" th:text="${post.message}">
                      MyPost
                </span>
            </span>
            <span class="mdl-list__item-secondary-content timeline-entry-date-container">
              <span class="mdl-list__item-secondary-info timeline-entry-date"
                    th:text="${post.timestamp}">25.10.2016 16:35</span>
            </span>
        </li>
    </ul>
</div>

<div class="timeline-entry" th:fragment="entryUser">
    <ul class="mdl-list timeline-entry-wrapper">
        <li th:each="post : ${PostListUser}" class="mdl-list__item mdl-list__item--two-line"
            style="padding-right: 10px;">
            <span class="mdl-list__item-primary-content">
                <a th:href="@{|/users/${post.user}|}">
                    <i class="material-icons mdl-list__item-avatar">person</i>
                </a>
                <a th:href="@{|/users/${post.user}|}" class="timeline-entry-username" th:text="${post.user}">John Doe</a>
                <span class="mdl-list__item-sub-title message" th:text="${post.message}">
                    MyPost
                </span>
            </span>
            <span class="mdl-list__item-secondary-content timeline-entry-date-container">
                <span class="mdl-list__item-secondary-info timeline-entry-date" th:text="${post.timestamp}">25.10.2016 16:35</span>
            </span>
        </li>
    </ul>
</div>

</html>
