.content-box {
	padding: 25px;
	background: rgba(255, 255, 255, 0.7);
}

.form-box {
	width: 100%;
}

.form-container {
	margin: 0;
	padding: 0;
}

.no-margin-container{
	margin: 0;
}

.button-container {
	margin-top: 10px;
	margin-bottom: 5px;
}

.login-post-list {
	display: flex;
	flex-direction: column;
}

.login-post-header {
    font-size: 16px !important;
    font-weight: 600;
}

.login-post-message {
    font-weight: 300;
    margin-top: 5px;
    word-break: break-all;
}
