<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />-->
    <link th:href="@{/webjars/material-design-lite/1.2.0/material.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" />
    <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet" />
</head>

<body>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <h1>Login View</h1>
            </div>
        </div>
    </main>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!--<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
    <script th:src="@{/webjars/material-design-lite/1.2.0/material.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/login.js}"></script>
</body>

</html>
