<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />-->
    <link th:href="@{/webjars/material-design-lite/1.2.0/material.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet" />
    <link th:href="@{/css/registration.css}" href="../static/css/registration.css" rel="stylesheet" />
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content background-image-chicago without-navbar">
            <div class="mdl-grid">
                <!--Spacer-->
                <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>

                <!--Content-->
                <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card padding-box ">

                    <div class="mdl-grid hundred-percent-container no-padding-container">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="registration-action-container">
                                <h3>You want to join our freaking cool Network? AWESOME!</h3>

                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                    aliquyam erat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="error" th:if="${error}" th:text="${error}"></div>

                    <form action="#" th:action="@{/registration}" th:object="${user}" th:method="post">

                        <div class="mdl-grid no-margin-container">
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                                <div class="mdl-textfield mdl-js-textfield low-margin-box right-pading-box">
                                    <input class="mdl-textfield__input" type="text" id="username" th:field="*{username}" />
                                    <label class="mdl-textfield__label" for="username">Username</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                                <div class="mdl-textfield mdl-js-textfield low-margin-box right-pading-box">
                                    <input class="mdl-textfield__input" type="email" id="email" th:field="*{email}" />
                                    <label class="mdl-textfield__label" for="email">E-Mail</label>
                                </div>
                            </div>

                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
                                <div class="mdl-textfield mdl-js-textfield low-margin-box right-pading-box">
                                    <input class="mdl-textfield__input" type="password" id="password" th:field="*{password}" />
                                    <label class="mdl-textfield__label" for="password">Password</label>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-grid registration-action-container small-padding-container">
                            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone small-size-box">
                                By registering you agree to our Terms of Service and our Privacy
                                Agreement. Aaaand we will use cookies, and maybe but only maybe
                                send you some home :>
                            </div>

                            <!-- Submit Button -->
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone join-button-container">
                                <button type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored hundred-percent-container">
                                    Join now!
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

                <!--Spacer-->
                <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
            </div>
        </main>
    </div>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <!--<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
    <script th:src="@{/webjars/material-design-lite/1.2.0/material.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <!--<script th:src="@{/js/registration.js}"></script>-->
</body>

</html>
